html {
    background-color: lightblue;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
.grey-text {
    color: #616161;
}

.mono {
    font-family: monospace;
}

.impact{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


img{
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}

p {
    margin: 4px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px ;
    background-color: lightblue;
}
body{
    height: 500px;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(339deg, rgba(2,0,36,1) 0%, rgba(4,4,20,1) 26%, rgba(0,212,255,1) 100%);
}

button{
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    color: darkblue;
    border: 1px solid darkblue;
    background-color: lightblue;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

label, h5 {
    margin: 3px;
    color: darkblue;
    font-weight: bold;
}

input {
    border-radius: 5px;
}

option {
    background-color: lightblue;
}

option:default {
    background-color: aqua;
}

